<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MicroWeb.Satellite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--极光推送-->
    <add key="jPushAppKey" value="f7b1b0d5d6b6aad9ad2124f4" />
    <add key="jPushAppSecret" value="523c9f127e1406f3c61e9b71" />
    <add key="JPushIsTestEnvironment" value="false" />
    <!--亿美短信平台序列号  3SDK-EMY-0130-OJXMM   6SDK-EMY-6688-KHXMS-->
    <add key="EmaySN" value="3SDK-EMY-0130-OJXMM" />
    <!--亿美短信平台序列号密码  898435   847978-->
    <add key="EmaySNPass" value="898435" />
    <!--短信前缀-->
    <add key="smsSuffix" value="[浙江统保]" />
    <!--是否启用亿美-->
    <add key="IsEmay" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <MicroWeb.Satellite.Properties.Settings>
      <setting name="MicroWeb_Satellite_cn_b2m_eucp_sdk4rptws_SDKService"
        serializeAs="String">
        <value>http://sdk4report.eucp.b2m.cn:8080/sdk/SDKService</value>
      </setting>
    </MicroWeb.Satellite.Properties.Settings>
  </applicationSettings>
</configuration>